*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: transparent;
    padding-top: 10px;
}

.navbar ul {
    list-style-type: none;
    margin-right: 5%;
    padding: 0;
    overflow: hidden;
}

.navbar ul li {
    float: right;
    display: inline;
}
.title{
	float: left !important;
	color: white;
	padding: 10px 16px;
	margin-left: 4%;
	font-size: 35px;
	font-weight: bolder;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 15px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}
.Container{
	height: 600px;
	background-color: blueviolet;
/*	background-image: url(https://img.lovepik.com/png/20231110/analytics-clipart-man-with-magnifying-glass-and-graphs-cartoon-vector_550812_wh860.png);*/
	background-repeat: no-repeat;
}

.main-content{
/*	border: solid white;*/
	height: 510px;
	display: flex;
}
.content{
	color: white;
	padding: 80px;
	line-height: 20px;
	margin: 3%;
}
.img{
	margin-top: 30px;
	height:400px;
	width: 450px;
	margin-left: 30%;
}
button{
	font-size: 17px;
	height: 45px;
	width: 40%;
	border-radius: 15px 0px 15px;
	background-color: skyblue;
	color: black;

}
button:hover{
	height: 45px;
	width: 40%;
	border-radius: 15px 0px 15px;
	background-color: black;
	color: skyblue;
	cursor: pointer;

}
.table{
	margin-top: 20px;
	height: 500px;
	width: 100%;
	background-color: white;	
	padding: 30px;
	border-collapse: separate;
	border-spacing: 20px;
}
.tbl{
	width: 90%;
	border-collapse: separate;
    border-spacing: 20px;
}
.tbl td {
    padding: 20px;
    border: 3px solid #5536a3;
    text-align: center;
    border-radius: 20px;
}
table tr td{
	border: solid black;
	padding: 15px;
	background-color: #FAF9F6;
	box-shadow: 0px 0px 5px royalblue;
    transition-duration: 1.5s;
}
table tr td:hover{
	transform: scale(1.05);
	border: 1px solid grey;
	box-shadow: 10px 15px 10px grey;
}
table tr td p{
	text-align: justify;
}
.services{
	text-align: justify;
}
.heading1{
	font-weight: bolder;
	font-size: 25px;
	font-family: "Poetsen One", sans-serif;
	letter-spacing: 2px;
}
.fa{
	color: black;
}